* {background-color: #282c34}

body{
  color:#282c34;
  font-color: white;
}

.App {
  color:#282c34;
  font-color: white;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-container {
  display:grid;
  grid-template-columns: 75px 100px 100px 100px 100px;
  grid-template-rows: 50px 25px 50px 50px;
  background-color: #9A9A9A;
  justify-content: center;
  align-content: center;
}

.grid-item {
  background-color: #9A9A9A;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
}

.title1{
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 10px;
}

.title2{
  grid-column-start: 4;
  grid-column-end: 6;
  padding: 10px;
}

.thing1{
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 5px;
}

.thing2{
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 5px;
}

.thing3{
  grid-column-start: 4;
  grid-column-end: 5;
  padding: 5px;
}

.thing4{
  grid-column-start: 5;
  grid-column-end: 6;
  padding: 5px;
}
